.popup{
    position: fixed;
    /* margin-top: -305px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 35px;
    width: 100%;
    max-width: 30%;
    background-color: #FFF;
    border-radius: 25px;
}

.commands{
    /* display: none; */
    
    height: 47vh;
}

.her{
    height: 35vh;
}

.leftdiv{
    margin: 5px;
    margin-left: 10px;
    margin-right: 15px;
    
    float: left;
    width: 25%;
    
    height: 87vh;
    overflow: auto;
}
.leftdiv h2{
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 48, 78);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    
    position: sticky;
    top: 0;
}
.centerdiv{
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    
    float:left;
    width: 45%;
    
    height: 86vh;
    overflow: auto;
}
.centerdiv h2{
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 48, 78);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    
    position: sticky;
    top: 0;
}
.box{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: 5px groove;
    overflow: auto;
}
.box1{
    margin-bottom: 30px;
}
.rightdiv{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
    float: right;
    width: 25%;
    
    height: 42vh;
}
.rightdiv h2{
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(0, 48, 78);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    
    position: sticky;
    top: 0;
}






.buu{
    background-color: rgb(184, 183, 183);
    
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buu:hover{
    background-color: rgb(138, 138, 138);
    
}

.tex{
    all: revert;
    height: 35px;
    border-radius: 5px;
    border: 2px groove;
    margin: 5px;
}
.apireq{
    height: 35px;
    width: 75%;
    border-radius: 5px;
    border: 2px groove;
    margin: 5px;
}

.drop{
    height: 35px;
    
    border-radius: 5px;
    border: 2px groove;
    margin: 5px;
}

.already{
    color: red;
}
.bt{
    border: none;
    padding: 12px;
    background-color: rgb(0, 48, 78);
    color: white;
    border-radius: 5px;
}
.success{
    color: green;
    
    
   
}
.fail{
    color: red;
    
    
}

.closeBtnM {
    /* background-color: tomato; */
    /* color: white; */
    border-radius: 50%;
    border-style: none;
    float: right;
    /* width: 50px;
    height: 50px; */
    font-size: large;
  }
  .closeBtnM:hover {
    opacity: 0.7;
  }